/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* header and nav section */

.header {
    background-color: #ffecd1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu-toggle{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition:
        background-color .3s,
        color .3s,
        transform .3s;
    color: black;
}

.logo:hover {
    color: #ff6b35;
    transform: scale(1.08);
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav li {
    list-style: none;
}

.nav ul li a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition:
        background-color .3s,
        color .3s,
        transform .3s;
        border-radius: 20px;
}

.nav ul li a:hover {
    background-color: #ff6b35;
    border-radius: 20px;
    color: white;
    transform: translateY(-3px);
}

/* hero section */

.hero{
    
    background-color: #fff8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    padding: 60px;
}
.hero-content{
    flex: 1;
    max-width: 550px;
}
.hero-content h1{
    font-size: 55px;
    font-weight: bold;
}
.hero-content p{
    line-height: 1.8;
    margin-top: 15px;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.hero-buttons a{
    border-radius: 20px;
    padding: 10px 15px;
    background: linear-gradient(#ff6b35, #ff6cff);
text-decoration: none;
color: white;
transition: color 0.3s, transform 0.3s;
}

.hero-buttons a:hover{
    color: black;
    transform: translateY(-3px);
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero-image img{
    width: 450px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}
.hero-image img:hover{
    transform: scale(1.03);
}

/* About Section */

.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    padding:60px;
    background-color:#ffffff;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    max-width:500px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
    transition:transform .3s;
}

.about-image img:hover{
    transform:scale(1.03);
}

.about-content{
    flex:1;
}

.about-content h2{
    font-size:40px;
    margin-bottom:20px;
}

.about-content p{
    line-height:1.8;
    margin-bottom:20px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:40px;
}

.feature{
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:transform .3s;
}

.feature:hover{
    transform:translateY(-5px);
}

.feature h4{
    color:#ff6b35;
    margin-bottom:10px;
}

.feature p{
    margin:0;
}

.about-btn{
    display:inline-block;
    padding:12px 25px;
    text-decoration:none;
    color:#fff;
    background:linear-gradient(135deg,#ff6b35,#ff8c42);
    border-radius:25px;
    transition:.3s;
}

.about-btn:hover{
    transform:translateY(-3px);
    background:linear-gradient(135deg,#e65a26,#ff6b35);
}

/* menu section */

.menu{
    padding: 60px;
    background-color: #fff8f0;
}

.menu h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.menu-card{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.menu-card:hover{
    transform: translateY(-8px);

}

.menu-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu-card h3{
    margin: 15px 0 10px;
}
.menu-card p{
    padding: 0 20px;
    margin-bottom: 15px;
    color: #555;

}

.menu-card span{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #ff6b35;
    margin-bottom: 20px;
}

.menu-card a{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ff6b35;
color: white;
text-decoration: none;
border-radius: 25px;
transition: 0.3s;
}

.menu-card a:hover{
    background-color: #e65a26;
}

/* reviews section */

.reviews{
    padding: 60;
    background-color: #fff8f0;
}

.reviews h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;

}

.review-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.review-card{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.review-card:hover{
    transform: translateY(-8px);
}

.review-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.review-card h3{
    margin-bottom: 10px;

}

.rating{
    color: gold;
    font-size: 20px;
    margin-bottom: 15px;
}

.review-card p{
    line-height: 1.7;
}

/* Contact Section */

.contact{
    padding:60px;
    background:#ffffff;
}

.contact h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:50px;
    align-items:flex-start;
}

.contact-info{
    flex:1;
}

.contact-info h3{
    margin-bottom:20px;
    color:#ff6b35;
}

.contact-info p{
    margin-bottom:15px;
    line-height:1.8;
}

.contact-form{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
    transition:.3s;
}

.contact-form textarea{
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline:none;
    border-color:#ff6b35;
    box-shadow:0 0 10px rgba(255,107,53,.3);
}

.contact-form button{
    padding:15px;
    border:none;
    border-radius:30px;
    background:#ff6b35;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    background:#e85b2a;
    transform:translateY(-3px);
}

/* Footer */

.footer{
    background-color:#222;
    color:white;
    padding:50px 60px 20px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:220px;
}

.footer-box h3{
    margin-bottom:20px;
    color:#ff6b35;
}

.footer-box p{
    line-height:1.8;
    margin-bottom:10px;
}

.footer-box a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:10px;
    transition:0.3s;
}

.footer-box a:hover{
    color:#ff6b35;
    transform:translateX(5px);
}

.footer hr{
    margin:30px 0 20px;
    border:1px solid rgba(255,255,255,.2);
}

.copyright{
    text-align:center;
    font-size:14px;
}


/* Responsive Design */

@media (max-width: 768px) {

    /* Navbar */
.menu-toggle{
    display: block;
}

.nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.nav ul{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.nav ul.active{
    display: flex;
}
   

    
    /* Hero */

    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 20px;
        gap: 40px;
    }

    .hero-content h1{
        font-size: 40px;
    }

    .hero-buttons{
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image img{
        width: 100%;
        max-width: 350px;
    }

    /* About */

    .about{
        flex-direction: column;
        padding: 40px 20px;
    }

    .about-content h2{
        text-align: center;
    }

    .features{
        grid-template-columns: 1fr;
    }

    .about-btn{
        display: block;
        width: fit-content;
        margin: auto;
    }

    /* Menu */

    .menu{
        padding: 40px 20px;
    }

    .menu-container{
        grid-template-columns: 1fr;
    }

    /* Reviews */

    .reviews{
        padding: 40px 20px;
    }

    .review-container{
        grid-template-columns: 1fr;
    }

    /* Contact */

    .contact{
        padding: 40px 20px;
    }

    .contact-container{
        flex-direction: column;
    }

    /* Footer */

    .footer{
        padding: 40px 20px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
    }

}